*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Viaoda Libre', cursive; 
}
.container{
    display: flex;
    flex-flow: column wrap;
}
 /*header*/
header{
    background: #7451eb;
    display:flex;
    justify-content:space-around;
    height: 300px;
    max-width: 100%;
}
#part_right_header{
    height: 250px;
    width:250px;
    align-self: flex-end;
    margin-right: 100px;
}
#part_left_header{
    padding-top: 50px;
    text-align: center;  
    margin-left: 50px;
    color: white;
}
#part_right_header img{
    margin-bottom: -20px;
    max-height: 100%;
    max-width: 100%;
    vertical-align: bottom;
}
.cadre_vert{
    background: #0deda3;
    display: inline-block;
    font-size: 1.4em;
    padding: 0 3px 0 3px;
    font-weight: bold;
    color: #002f66;
    font-family: 'RosveliT-Italic';
}
header h1{
    font-family: 'Pacifico', cursive; 
}
#presentation{
    text-align: left;
    margin-top: 50px;
}

/*Section*/
section{
    display:flex;
    height: 300px;
    max-width: 100%;
    justify-content: space-around;
}
#mes{
    display: inline-block;
    font-size: 1.4em;
    padding: 0 3px 0 3px;
    font-weight: bold;
    color: #002f66;
    font-family: 'RosveliT-Italic';  
}
#part_right_section{
    display: flex;
    flex-direction: column;
    flex:3;
    color: #002f66;
    flex-wrap: wrap;
    align-items: left;
    justify-content: center;
}
#part_left_section{
    height: 120px;
    width:120px;
    align-self: center;
    flex:1.6;
    display: flex;
    align-items: center;
    justify-content: center;
}
#part_left_section img{
    max-height: 100%;
    max-width: 100%;  
}
/*footer*/
footer{
    background-color: #002f66;
    height: 350px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#twitter{
    height: 50px;
    width: 50px;
}
#github{
    height: 50px;
    width: 50px;
}
#link{
    height: 50px;
    width: 50px;
}
#conteneur_logo img{
    max-height: 100%;
    max-width: 100%;
}
#conteneur_logo{
    display: flex;
    flex-wrap: wrap;
    width: 180px;
    justify-content: space-around;
    margin-top: 10px;
}
footer h1{
    color:white;
    font-size: 1.5em;
}
#phrase
{
    display: flex;
    color: white;
    margin-top: 0;
}
#projet{
    background: #0deda3;
    padding-right:3px;
}
/*Responsive*/
@media screen and (max-width:700px){
    header{
        height: auto;
        justify-content: center;
    }
    #part_right_header{
        display: none;
    }   
    #part_left_header{
        margin-left: 0;
    }
    #presentation{
        margin-bottom: 10px;
    }
    #part_left_section{
        display: none;
    }
    #part_right_section{
        margin: 0 10px;
        align-items: center;
    }
}